$breakpoints: ("tablet": 480px , "desktop": 769px);

@mixin screen($breakpoint) {
    $min-width: map-get($breakpoints, $breakpoint);
    @media only screen and (min-width: $min-width) {
        @content;
    }
}

$blue: #4388cc;
$white: white;
$black: black;
$green: #749c75;
$red: #B98B82;
$gray: rgb(238, 238, 238);

nav-bar {
    --white: $white;
    --blue: $blue;
    --green: $green;
}