@(snapshotArray: Array[ResortSnapshot])

@main("Ski Resort Dashboard","stylesheets/home.css") {
  <div id="container">
    <h1>Ski Resort Dashboard</h1>
    <p id="description">
      This is a small and simple dashboard to look up current and past conditions at a couple of Colorado Ski Resorts. Currently you can look at the 
      current snow depth, the amount of snow that has fallen in the last 24 hours, the current temperature, the current wind speed, and the current wind
      direction. I sample this data for all of the resorts two times a day, once in the morning and once in the afternoon. You can see all of the 
      data that I have collected so far using the graphs on each resort page. Enjoy!
    </p>
  
    @for(resortSnapshot <- snapshotArray) {
      <div class="resort-card">
        <img class="secondary" src="@routes.Assets.at("images/"+ resortSnapshot.resort.toString() +".png")" title="@resortSnapshot.resort.toString()"/>
        <h3>@resortSnapshot.resort.toString()</h3>
        <div class="primary">
          <p>24 Hour Snowfall: @resortSnapshot.resortData.dailySnow inches</p> 
          <p>Current Snow Depth: @resortSnapshot.resortData.baseDepth inches</p>
          <p>Current Temperature: @resortSnapshot.resortData.temperature farenheit</p>
        </div>
        <div class="secondary">
          <p>Current Wind Speed: @resortSnapshot.resortData.windSpeed mph</p>
          <p>Current Wind Direction: @resortSnapshot.resortData.windDir.toString()</p>
        </div>
      </div>
    }
  </div>
}
