@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, styles: String, resortList: List[Resorts], navImgSrc: String, cdnURL: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at(styles)">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <nav-bar imageSrc="@routes.Assets.at("images/" + navImgSrc + ".png")">
            <a href="/" class="@if(navImgSrc == "Home") { selected }">
                <img src="@routes.Assets.at("images/Home.png")" title="Home menuImg"/>
                <p>Home</p>
            </a>
            @for(resort <- resortList) {
                <a href="/resorts/@resort.toString()" class="@if(navImgSrc == resort.toString) { selected }">
                    <img src="@routes.Assets.at("images/"+ resort.toString() +".png")" title="@resort.toString() menuImg"/>
                    <p>@resort.toString()</p>
                </a>
            }
        </nav-bar>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

      <script src="@routes.Assets.at("javascripts/Navbar.js")" type="module"></script>
      @if(cdnURL.length != 0) {
        <script src="@cdnURL/lit-graph.min.js" type="module"></script>
      }
    </body>
</html>
